div.header {
    color:blue
}

.price{
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #95ccff;
    border-radius: 8px;
    background: #D5EAD5;
}

.price .pricetitle{
    position: absolute;
    display: inline-block;
    top: -15px;
    left: 10px;
    padding: 5px 9px;
    line-height: 1;
    font-size: 25px;
    border: solid 3px #95ccff;
    border-radius: 8px;
    background: #fff;
    color: #444444;
    font-weight: bold;
}

.price .mainprice{
    margin: 0.5em 0; 
    padding: 0;
    font-size: 35px;
    color: #f00;
}

.price .subprice{
    margin: 0; 
    padding: 0;
    font-size: 20px;
}




body {
    background-color: #fff;
    margin: 0;
    padding: 0;
}



.thought-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.thought {
    display: flex;
    align-items: center;
    background-color: #fff580;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 45%;
}

.thought__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    background-color:#fff;
    object-fit: cover;
}

.thought__content {
    max-width: 70%;
}

.thought__title {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.thought__text {
    font-size: 1em;
    color: #333;
}
